<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">


    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" pattern="[a-zA-Z ]*" placeholder="Ingrese nombre: " 
        [formControl]="fg.controls['nombre']">

        <!-- sugerencias de autocompletado -->
        <ul>
            <li *ngFor= "let r of searchResults;">{{r}}</li>
        </ul>

        <!-- validadores de campo --> 
        <div *ngIf="fg.controls['nombre'].hasError('required')">nombre requerido</div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">nombre invalido</div>
        <div *ngIf="fg.controls['nombre'].hasError('pattern')">no debe contener numeros!</div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">
            debe tener al menos {{minLongitud}} caracteres!</div>    


    </div>
    <div class="form-group">
        <label for="Imagen Url">Imagen Url</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingrese Url: " 
        [formControl]="fg.controls['url']">
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>
