<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id= "formLogin"></span>

            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h1 class="mb-0">whishlist</h1>
                </div>
                <div class="card-body">
                   <app-form-destino-viaje (onItemAdded)="agregado ($event)"></app-form-destino-viaje>
                </div>
            </div>
        </div>
    </div>

    <hr class="mb-5">

    <div class="row"> <!-- $event = d-->
        <app-destino-viaje 
        *ngFor="let d of all; let i=index" 
        [destino]="d"
        [idx]= "i + 1"
        (clicked)= "elegido($event)" 
        
        ></app-destino-viaje>
    </div>

    <hr class="mb-5">

    <div class="row"> 
        <h5>Actividad</h5>
        <ul>
            <li *ngFor= "let u of updates;">{{u}}</li>
        </ul>

    </div>

</div>

